*:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin {
  opacity: 0.9;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input, .form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

#logo {
  width: 10px;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.notification {
  padding: 25px;
  border-radius: 3px;
  margin: 10px;
  font-size: 18px;
}

.is-alert {
  border: 1px solid rgb(250, 116, 116);
  color: #FFF;
  background-color: rgb(250, 116, 116);
}

.is-info{
  border: 1px solid rgb(228, 181, 94);
  color: #FFF;
  background-color: rgb(228, 181, 94);
}

.is-success {
  border: 1px solid #a0d468;
  color: #FFF;
  background-color: #a0d468;
}

 
  
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body 
{ 
  background: #2a2342;;
}
.img-op{
  width:100%;
   height: 30%;
}

.fundo {
    background-color: #39363d;
    color: aliceblue;
    position: relative;
}

.btn-gold {
  color: #fff;
  background-color: #f2a726;
  border-color: #f2a726;
}


.btn-blue {
  color: #fff;
  background-color: #0f1c3c;
  border-color: #ffffff;
}

.btn-exlg {
  padding: 3rem 10rem;
  font-size: 6 rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}


/* Redes Sociais */

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .2rem;
	display: flex;
	transition: all .5s;
}

.facebook {
	background: #2E406E;
}

.twitter {
	background: #339DC5;
}

.youtube {
	background: #E83028;
}

.instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/* Escolha1 */

imges {
  width: 450px;
  height: 250px;
}

#imgtres {
  align-self: center;
}

/*suporte*/

.btnbuba {
    color: #fff;
    background-color: #f2a327;
    border-color: #f1a426;
}

.limitText {
  max-width: 75ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}